<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mimicog</title>
    <link rel="stylesheet" href="..\static\styles.css" />
    <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap" rel="stylesheet">
  </head>
  <body>
          <div class="main">
          <div class="content-box"></div>
          <div class="main__container">
 
            <div text_align="center" style="background-color: #ff8177;
            background-image: linear-gradient(to top, #b721ff 0%, #21d4fd 100%); width: 10%; height: 70%;"></div>
            <div class="main__content">
              <h1>MIMICOG</h1>
              <p>SEE THE WORLD AROUND YOU IN EMOJIS!</p>
              <button class="main__btn"><a href="/enter">Get Started</a></button>
            </div>
          </div>
        </div> 
  </body>
</html>